<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../js/app.js"></script>

<div id="app">
    <ul>
      <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ingredient}} {{ i  }}</li>
    </ul>
    <button @click="ingredients.push('spices')">Add New</button>
    <hr>

    <li v-for="person in persons">
      <div v-for="(value, key, index) in person">{{key}} : {{value}} ({{index}})</div>
    </li>
    <span v-for="n in 10">{{n}} </span>
</div>
