# MySQL settings
MYSQL_DATABASE=practice
MYSQL_USER=practice
MYSQL_PASSWORD=practice
MYSQL_ROOT_PASSWORD=root
MYSQL_PUBLISHED_PORT=3306

# PostgreSQL settings
POSTGRES_DB=practice
POSTGRES_USER=practice
POSTGRES_PASSWORD=practice
POSTGRES_PUBLISHED_PORT=5432
