.DS_Store
.cache
.viminfo
__pycache__
*/.ipynb_checkpoints/*school/kredo/deeplearning-cnn-yolo/week_2/dataset.zip
school/kredo/deeplearning-cnn-yolo/week_3/dataset.zip
school/kredo/deeplearning-cnn-yolo/**/*.zip
