<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://unpkg.com/vue@2.5.17" charset="utf-8"></script>
  </head>
  <body>
    <div class="" id="login-example">
      <user-login></user-login>
    </div>
  </body>
</html>

<script type="text/x-template" id="login-template">
  <div class="" id="login-template">
    <div class="">
      <input type="text" name="" value="" palaceholder="ログインID" v-model="userid">
    </div>
    <div class="">
      <input type="password" name="" value="" placeholder="パスワード" v-model="password">
    </div>

    <button @click="login">ログイン</button>

  </div>

</script>


<script type="text/javascript" src="../js/login-component.vue">

</script>
