* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
}
video {
    width: 100%;
    height: auto;
    min-width: 1600px;
    min-height: 1200px;
    position: fixed;
    z-index: -1;
}

.timer {
    width: 800px;
    font-size: 120px;
    margin: 0 auto;
    padding-top: 450px;
    text-align: center;
}
