.container {
    display: grid;
    width: 800px;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 120px 90px;
}

.itemA {
    grid-column: 1/ 2;
    grid-row: 1 / 3;
    background: aqua;
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
    /* grid-row-start: 1; */
    /* grid-row-end: 3; */
}

.itemB {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: beige;
}
.itemC {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: brown;
}
