<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <div id="app">
      <nav>
        <router-link to="/top">Top Page</router-link>
        <router-link to="/users">User list Page</router-link>
      </nav>
      <router-view></router-view>
    </div>
    <script src="https://unpkg.com/vue@2.5.17"></script>
    <script src="https://unpkg.com/vue-router@3.0.1"></script>



    <script type="text/x-template" id="user-list">
      <div>
        <div class="loading" v-if="loading">Loading...</div>
        <div v-if="error" class="error">{{error}}</div>

        <div v-for="user in users" :key="user.id">
          <h2>{{ user.name  }}</h2>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="user-detail">
      <div>
        <div class="loading" v-if="loading">Loading...</div>
        <div v-if="error" class="error">{{error}}</div>
        <div v-if="user">
          <h2>{{user.name}}</h2>
          <p>{{user.description}}</p>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="user-create">
      <div>
        <div class="sending" v-if="sending">Sending...</div>
        <div>
          <h2>新規ユーザー作成</h2>
          <div>
            <label for="">名前: </label>
            <input type="text" v-model="user.name">
          </div>
          <div>
            <label for="">説明文 : </label>
            <textarea v-model="user.description" ></textarea>
          </div>
          
          <div class="error" v-if="error">{{error}}</div>
          
          <div><input type="button" @click="createUser" value="送信"></div>
        </div>
      </div>
    </script>
        


    <script src="detail.js"></script>
    <script src="user_list.js"></script>
    <script src="new.js"></script>

    <script>

      var router = new VueRouter({
        routes: [
          {
            path: '/top',
            component: {
              template: '<div>This is Top Page</div>'
            }
          },
          {
            path: '/users',
            component: UserList
          },
          {
            path: '/users/new',
            component: UserCreate
          },
          {
            path:'/users/:userId',
            component: UserDetail
          }
        ]
      })
      
      var app = new Vue({
        router: router
      }).$mount('#app')

    </script>
</body>
</html>
